{% extends 'base/base.html'%}
{% load static %}
{% block content %}
<div class='row'>
    <div class='container'>
        <h3>{{ pub.title }}</h1>
        <h4 class='col s11 offset-s1'>{{ pub.text }}</h2>
        <h5>{{ pub.pub_date }}</h3>

        {% if tags%}
            <label>Tags: {{ tags}}</label>
        {% endif %}
    </div>
    <h3>Comentários</h3>
    <div id='comment-box' class='deep-purple lighten-3'>
        {% for comment in comments%}
            {% include 'components/comment_card.html'%}
        {% if comment.author == user %}
            {% include 'components/comment_modal.html' %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class='container'>
    <form method="POST" action={% url 'new_comment' pub.pk %}> {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script type="text/javascript" src={% static 'js/comment/comment.js' %}></script>
{% endblock %}