{% extends 'base/base.html' %}

{% block content %}
<div class="card-panel deep-purple accent-1">
    <ul>
        {% for pub in pubs %}
        <li><a href=publications/{{ pub.pk }} class="white-text">{{ pub.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
