{% extends 'base/base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container center">
    <h2>Cadastro</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="btn btn-medium waves-effect waves-light green lighten-2" type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}