.untide-up {
    margin-bottom: 1%;
}

.round-corners {
    border-radius: 2px;
    border-width: 5px;
}

#comment-box {
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

i.liked {
    color: blue;
}

i.disliked {
    color: #b22e38;
}