{% extends 'base/base.html' %}
{% block title %}Editar usuário{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit">Salvar alterações</button>
</form>
{% endblock  %}