<div id="modal{{ comment.pk }}" class="modal">
    <div class="modal-content">
    <h4>Editar Comentário</h4>

    <div class="row">
        <div class="input-field col s12">
        <input value="{{ comment.comment_text }}" id="comment_text" type="text" class="validate"/>
        <label class="active" for="command_text">Texto</label>
        </div>
    </div>
    </div>
    <div class="modal-footer">
    <button href="#!" class="modal-close waves-effect waves-red btn-flat"
        >Cancelar</button
    >
    <button id='{{comment.pk}}' class="waves-effect waves-green btn-flat modal-button-ok"
        >Ok</button
    >
    </div>
</div>