<nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'publication_list'%}">Publicações</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li>{{ user.first_name }}</li>
          <li><a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">person_outline</i></a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'create_user' %}">Nova Conta</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>